<!-- Section: Main chart -->
{{let 'user' 'student'}}
<style>
    #calendar { max-width: 1100px; margin: 0 auto; }
</style>
<hr class='hr' />
<input type='text' id='ClassID' name='classID' class='d-none' value='{{classID}}' />
<div id='calendar'></div>