{{let 'user' 'principal'}}
{{! <button type='button' class='btn btn-primary' data-mdb-toggle='modal' data-mdb-target='#modalCreateClass'><i
        class='fa-solid fa-plus'
    ></i>
    Create new class</button> }}
<hr class='hr' />
<section class='text-center'>
    <div class='row'>
        <div class='col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative'>
            <i class='fas fa-cubes fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>5000+</h5>
            <h6 class='fw-normal mb-0'>Components</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>

        <div class='col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative'>
            <i class='fas fa-layer-group fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>490+</h5>
            <h6 class='fw-normal mb-0'>Design blocks</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>

        <div class='col-lg-3 col-md-6 mb-5 mb-md-0 position-relative'>
            <i class='fas fa-image fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>100+</h5>
            <h6 class='fw-normal mb-0'>Templates</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>

        <div class='col-lg-3 col-md-6 mb-5 mb-md-0 position-relative'>
            <i class='fas fa-plug fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>28</h5>
            <h6 class='fw-normal mb-0'>Plugins</h6>
        </div>
    </div>
</section>
<hr class='hr' />
<!-- Tabs navs -->
<ul class='nav nav-pills mb-3' id='ex-with-icons' role='tablist'>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link active'
            id='ex-with-icons-tab-1'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-1'
            role='tab'
            aria-controls='ex-with-icons-tabs-1'
            aria-selected='true'
        ><i class='fas fa-chart-pie fa-fw me-2'></i>Sales</a>
    </li>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link'
            id='ex-with-icons-tab-2'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-2'
            role='tab'
            aria-controls='ex-with-icons-tabs-2'
            aria-selected='false'
        ><i class='fas fa-chart-line fa-fw me-2'></i>History</a>
    </li>

</ul>
<hr class='hr' />

<!-- Tabs navs -->

<!-- Tabs content -->
<div class='tab-content' id='ex-with-icons-content'>
    <div
        class='tab-pane fade show active'
        id='ex-with-icons-tabs-1'
        role='tabpanel'
        aria-labelledby='ex-with-icons-tab-1'
    >
        <div class='row'>
            <div class='col-md-6 text-center'>
                <h2 class='fw-bold mb-2 text-uppercase'>Create Announcement</h2>
                <hr class='hr' />

                <form>
                    <!-- Name input -->
                    <div class='form-outline mb-4'>
                        <input type='text' id='form4Example1' name='title' class='form-control' />
                        <label class='form-label' for='form4Example1'>Title</label>
                    </div>

                    <select class='form-select mb-4' name='type' aria-label='Default select example'>
                        <option selected>Choose type</option>
                        <option value='announcement'>Announcement</option>
                        <option value='remind'>Remind</option>
                        <option value='invitation'>Invitation</option>
                    </select>

                    <!-- Message input -->
                    <div class='form-outline mb-4'>
                        <textarea class='form-control' id='form4Example3' rows='4'></textarea>
                        <label class='form-label' for='form4Example3'>Message</label>
                    </div>
                    <!-- Submit button -->
                    <button type='submit' class='btn btn-primary btn-block mb-4'>Send</button>
                </form>
            </div>
            <div class='col-md-6'>
                <h2 class='fw-bold mb-2 text-uppercase'>Send to</h2>
                <hr class='hr' />

                <ul class='nav nav-tabs mb-3' id='ex-with-icons' role='tablist'>
                    <li class='nav-item' role='presentation'>
                        <a
                            class='nav-link active'
                            id='ext-1'
                            data-mdb-toggle='tab'
                            href='#exts-1'
                            role='tab'
                            aria-controls='exts-1'
                            aria-selected='true'
                        ><i class='fa-solid fa-chalkboard-user'></i> Teachers</a>
                    </li>
                    <li class='nav-item' role='presentation'>
                        <a
                            class='nav-link'
                            id='ext-2'
                            data-mdb-toggle='tab'
                            href='#exts-2'
                            role='tab'
                            aria-controls='exts-2'
                            aria-selected='false'
                        ><i class='fa-solid fa-user-group'></i> Parents</a>
                    </li>
                </ul>
                <div class='tab-content' id='ex-with-icons-content'>
                    <div class='tab-pane fade show active' id='exts-1' role='tabpanel' aria-labelledby='ext-1'>
                        <table id='listTeacherSent' class='table table-hover' style='width:100%'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Full name</th>
                                    <th>Class</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th class='d-none'>Full name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Hermione Butler</td>
                                    <td>1A</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>London</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Lael Greer</td>
                                    <td>1A</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>London</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Jonas Alexander</td>
                                    <td>1A</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>San Francisco</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Shad Decker</td>
                                    <td>1A</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>Edinburgh</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class='tab-pane fade' id='exts-2' role='tabpanel' aria-labelledby='ext-2'>
                        <table id='listParentSent' class='table table-hover' style='width:100%'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Full name</th>
                                    <th>Student</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th class='d-none'>Full name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Hermione Butler</td>
                                    <td>Regional Director</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>London</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Lael Greer</td>
                                    <td>Systems Administrator</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>London</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>San Francisco</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td>hoangbo74@gmail.com</td>
                                    <td>0123123123</td>
                                    <td class='d-none'>Edinburgh</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class='tab-pane fade' id='ex-with-icons-tabs-2' role='tabpanel' aria-labelledby='ex-with-icons-tab-2'>
        <section class='mb-4'>
            <table id='listPrincipalAnnouncement' class='table table-hover' style='width:100%'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Create At</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>London</td>
                        <td>47</td>
                        <td>Dynamic tabbed interfaces, as described in the WAI ARIA Authoring Practices, require role="tablist", role="tab", role="tabpanel", and additional aria- attributes in order to convey their structure, functionality and current state to users of assistive technologies (such as screen readers). As a best practice, we recommend using <button> elements for the tabs, as these are controls that trigger a dynamic change, rather than links that navigate to a new page or location.</td>
                        <td>2011-03-21</td>
                        <td>$356,250</td>
                    </tr>
                    <tr>
                        <td>London</td>
                        <td>21</td>
                        <td>Dynamic tabbed interfaces, as described in the WAI ARIA Authoring Practices, require role="tablist", role="tab", role="tabpanel", and additional aria- attributes in order to convey their structure, functionality and current state to users of assistive technologies (such as screen readers). As a best practice, we recommend using <button> elements for the tabs, as these are controls that trigger a dynamic change, rather than links that navigate to a new page or location.</td>
                        <td>2009-02-27</td>
                        <td>$103,500</td>
                    </tr>
                    <tr>
                        <td>San Francisco</td>
                        <td>30</td>
                        <td>Dynamic tabbed interfaces, as described in the WAI ARIA Authoring Practices, require role="tablist", role="tab", role="tabpanel", and additional aria- attributes in order to convey their structure, functionality and current state to users of assistive technologies (such as screen readers). As a best practice, we recommend using <button> elements for the tabs, as these are controls that trigger a dynamic change, rather than links that navigate to a new page or location.</td>
                        <td>2010-07-14</td>
                        <td>$86,500</td>
                    </tr>
                    <tr>
                        <td>Edinburgh</td>
                        <td>51</td>
                        <td>Dynamic tabbed interfaces, as described in the WAI ARIA Authoring Practices, require role="tablist", role="tab", role="tabpanel", and additional aria- attributes in order to convey their structure, functionality and current state to users of assistive technologies (such as screen readers). As a best practice, we recommend using <button> elements for the tabs, as these are controls that trigger a dynamic change, rather than links that navigate to a new page or location.</td>
                        <td>2008-11-13</td>
                        <td>$183,000</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<!-- Tabs content -->
<!-- Section: Main chart -->

<!-- Section: Main chart -->
