{{let 'user' 'principal'}}
<!-- Section: Main chart -->

{{#if success}}
    <div class='alert alert-success d-flex align-items-center' role='alert'>
        <div>
            <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
            {{success}}
        </div>
    </div>
{{/if}}
{{#if error}}
    <div class='alert alert-danger d-flex align-items-center' role='alert'>
        <div>
            <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
            {{error}}
        </div>
    </div>
{{/if}}
{{! <a href='/p/classroom' type='button' class='btn btn-secondary btn-rounded'>Secondary</a> }}
<hr class='hr' />
<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='/p/classroom'>Classroom</a></li>
        <li class='breadcrumb-item active' aria-current='page'>Class schedule</li>
    </ol>
</nav>
<hr class='hr' />
<button type='button' class='btn btn-success mb-2'>Success</button>

<style>
    #calendar { max-width: 1100px; margin: 0 auto; height: 600px;}
</style>
<div id='calendar'></div>