<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
      rel='stylesheet'
    />
    <!-- Google Fonts -->
    <link
      href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css'
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
    <!-- MDB -->
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
    {{!-- Full Calendar --}}
    <script src='/dist/index.global.js'></script>
    <script src="/javascript/calendar.js"></script>

    {{!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.js'></script> --}}
  </head>
  <body>
    <div class='container-fluid'>
      {{#eq user 'principal'}}
        {{> principalHeader}}
      {{else eq user 'teacher'}}
        {{> teacherHeader}}
      {{else}}
        {{> studentHeader}}
      {{/eq}}
      <main style='margin-top: 58px'>
        <div class='container pt-4'>
          {{{body}}}
        </div>
      </main>
    </div>
    <!-- MDB -->
    <script
      type='text/javascript'
      src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js'
    ></script>
    <script src='https://code.jquery.com/jquery-3.5.1.js'></script>
    <script 
      src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'
    ></script>
    <script
      src='https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js'
    ></script>
    
    <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src='/javascript/main.js'></script>
  </body>
</html>